/node_modules/
package-lock.json
package.json

/2) Video to Text Pipeline/Video/
/2) Video to Text Pipeline/Audio/
**/.ipynb_checkpoints/

# Local (u-kuro)
/Ignored/
/.idea/
/venv/
.Open Jupyter Lab.bat
.DS_Store
