/Video/
/Audio/
**/.ipynb_checkpoints/
/YouTube URL Collection/
Transcription/*
!Transcription/Arizona/
!Transcription/Michigan/
!Transcription/Pennsylvania/
!Transcription/Extra (not included in any [used urls.csv])/

# Local (u-kuro)
/Ignored/
/.idea/
/venv/
Test.ipynb
.Open Jupyter Lab.bat
.DS_Store
